In [2]:
import pandas as pd
import numpy as np

In [3]:
dfs = []
df_2018 = pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\GERACAO_USINA_2018.csv', sep=';')
df_2019 = pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\GERACAO_USINA_2019.csv', sep=';')
df_2020 = pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\GERACAO_USINA_2020.csv', sep=';')
df_2021 = pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\GERACAO_USINA_2021.csv', sep=';')

In [4]:
dfs = [df_2021,df_2020,df_2019,df_2018]
df_final = pd.DataFrame

In [5]:
final_list = []
for df in dfs:
    df_temp = df[(df['nom_usina'] == 'Conj. Pirapora') | (df['nom_usina'] == 'Conj. Pirapora 2')]
    df_temp = df_temp[['din_instante','nom_usina','val_geracao']]
    final_list.append(df_temp)

In [6]:
df_final = pd.concat(final_list)

In [7]:
df_final = df_final.reset_index()

In [8]:
df_final['din_instante'] = pd.to_datetime(df_final['din_instante'])

In [9]:
df_final = df_final.sort_values(by='din_instante')
df_final.set_index('din_instante', drop=True, inplace=True)
df_final['hora'] = df_final.index.hour
df_final['dia'] = df_final.index.day
df_final['mes'] = df_final.index.month
df_final['ano'] = df_final.index.year
df_final.drop(columns='index', inplace=True)

In [10]:
df_final.head()

                          nom_usina  val_geracao  hora  dia  mes   ano
din_instante
2018-01-01 00:00:00  Conj. Pirapora          0.0     0    1    1  2018
2018-01-01 01:00:00  Conj. Pirapora          0.0     1    1    1  2018
2018-01-01 02:00:00  Conj. Pirapora          0.0     2    1    1  2018
2018-01-01 03:00:00  Conj. Pirapora          0.0     3    1    1  2018
2018-01-01 04:00:00  Conj. Pirapora          0.0     4    1    1  2018

In [11]:
df_final.to_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\clean_data\\GERACAO_PIRAPORA.csv')

# Variaveis explicativas

In [13]:
def standardize_time_format(time_str):
    if len(time_str) == 5:  # Format HH:mm
        return time_str
    else:   # Format HHmm
        return time_str[:2] + ':' + time_str[2:4]
def standardize_date_format(date_str):
    return date_str.replace('/','-')

def get_season(month):
    if month in [12, 1, 2]:
        return 1
    elif month in [3, 4, 5]:
        return 2
    elif month in [6, 7, 8]:
        return 3
    elif month in [9, 10, 11]:
        return 4

In [14]:
dfs_exp = []
encoding = 'ISO-8859-1'
dfs_exp.append(pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\exp_pirapora-2018.csv', sep=';', encoding = encoding, skiprows=8, index_col=None))
dfs_exp.append(pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\exp_pirapora-2019.csv', sep=';', encoding = encoding, skiprows=8, index_col=None))
dfs_exp.append(pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\exp_pirapora-2020.csv', sep=';', encoding = encoding, skiprows=8, index_col=None))
dfs_exp.append(pd.read_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\datasets\\exp_pirapora-2021.csv', sep=';', encoding = 'utf-8', skiprows=8, index_col=None))

In [16]:
for i in range(len(dfs_exp)):
    dfs_exp[i].columns = ['Data',
'hora',
'Precipitacao',
'Pressao ATM (mB)',
'Pressao ATM MAX.NA HORA ANT. (AUT) (mB)',
'Pressao ATM MIN NA HORA ANT. (AUT) (mB)',
'RADIACAO GLOBAL (Kj/m2)',
'TEMPERATURA DO AR - BULBO SECO, HORARIA (C)',
'TEMPERATURA DO PONTO DE ORVALHO (C)',
'TEMPERATURA MAX NA HORA ANT. (AUT) (C)',
'TEMPERATURA MIN NA HORA ANT. (AUT) (C)',
'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)',
'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)',
'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
'UMIDADE RELATIVA DO AR, HORARIA (%)',
'VENTO, DIRECAOO HORARIA',
'VENTO, RAJADA MAXIMA (m/s)',
'VENTO, VELOCIDADE HORARIA (m/s)']
    dfs_exp[i]['hora'] = dfs_exp[i]['hora'].apply(standardize_time_format)
    dfs_exp[i]['Data'] = dfs_exp[i]['Data'].apply(standardize_date_format)

In [17]:
df_exp = pd.concat(dfs_exp)
df_exp['DATETIME'] = pd.to_datetime(df_exp['Data'] + ' ' + df_exp['hora'])
# Set the new datetime column as the index
df_exp.set_index('DATETIME', inplace=True)
# Shift the datetime index by 3 hours earlier
df_exp.index = df_exp.index - pd.Timedelta(hours=3)

In [18]:
df_exp['hora'] = df_exp.index.hour
df_exp['dia'] = df_exp.index.day
df_exp['mes'] = df_exp.index.month
df_exp['ano'] = df_exp.index.year

In [19]:
df_exp.head()

,Data,hora,Precipitacao,Pressao ATM (mB),Pressao ATM MAX.NA HORA ANT. (AUT) (mB),Pressao ATM MIN NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m2),"TEMPERATURA DO AR - BULBO SECO, HORARIA (C)",TEMPERATURA DO PONTO DE ORVALHO (C),TEMPERATURA MAX NA HORA ANT. (AUT) (C),...,TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIRECAOO HORARIA","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",dia,mes,ano
DATETIME,,,,,,,,,,,,,,,,,,,,,
2017-12-31 21:00:00,2018-01-01,21,0,"956,6","956,6","956,1",-9999,"23,3","19,5","25,3",...,"17,6",80.0,62.0,79.0,271.0,4,"1,1",31,12,2017
2017-12-31 22:00:00,2018-01-01,22,0,"957,2","957,2","956,6",-9999,"22,9","20,2","23,3",...,"19,6",85.0,79.0,85.0,242.0,"3,5",",8",31,12,2017
2017-12-31 23:00:00,2018-01-01,23,0,"957,5","957,6","957,2",-9999,"23,3","19,7","23,3",...,"19,6",85.0,80.0,80.0,292.0,"2,6",",9",31,12,2017
2018-01-01 00:00:00,2018-01-01,0,0,"957,1","957,5","957,1",-9999,"22,7","20,5","23,3",...,"19,7",87.0,80.0,87.0,350.0,"1,5",",7",1,1,2018
2018-01-01 01:00:00,2018-01-01,1,0,956,"957,1",956,-9999,"22,7","20,7","22,8",...,"20,4",89.0,87.0,89.0,182.0,"1,8","1,2",1,1,2018

In [20]:
df_exp.to_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\clean_data\\exp.csv')

In [21]:
df_exp = df_exp.drop(columns=['hora', 'dia', 'mes', 'ano'])
merged_df = pd.merge(df_final, df_exp, left_index=True, right_index=True)
merged_df = merged_df.drop(columns = ['nom_usina', 'Data'])
for column in merged_df.columns:
    if merged_df[column].dtype == object:
        merged_df[column] = merged_df[column].str.replace(',', '.').astype(float)

In [22]:
merged_df['estacao'] = merged_df.index.month.map(get_season)
merged_df = merged_df.replace(-9999.00, np.nan)
date_range = pd.date_range(start='2018-01-01', end='2021-12-31 23:00:00', freq='H')

In [23]:
merged_df = merged_df.reindex(date_range)

In [58]:
merged_df.to_csv('C:\\Users\\Murilo\\Desktop\\Projetos\\DesafioPSR\\clean_data\\completo.csv')